/* import fonts from fonts.css file */

@import url(./fonts.css);

/* Css variables */
@import url(../partials/variables.css);

/* Global Styling */
@import url(../partials/global.css);
/* start navigation menu */

html {
  scroll-behavior: smooth;
}
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* End Navigation */

/* Start Banner Area */
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .container .banner-image img {
  margin-top: 100px;
}

/* End Banner Area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}
.site-main .project-area .grid .our-project .img-fluid {
  width: 450px; /* You can set the dimensions to whatever you want */
  height: 250px;
  object-fit: cover;
}
.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */

/* About Area */

.site-main .about-area {
  padding: 18rem 5rem;
}

/* Footer Area */

footer.footer-area {
  padding: 5rem 0;
  background: url(../images/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}

/*skill section */

.skillSection {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10rem;
}
.skill-bars {
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #000000;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.bootstrap span {
  width: 40%;
}
.bar .progress-line.progress-line.js span {
  width: 65%;
}
.bar .progress-line.progress-line.spring span {
  width: 50%;
}
.bar .progress-line.java span {
  width: 70%;
}
.bar .progress-line.mysql span {
  width: 75%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.bootstrap span::after {
  content: "40%";
}
.progress-line.js span::after {
  content: "65%";
}
.progress-line.spring span::after {
  content: "50%";
}
.progress-line.java span::after {
  content: "70%";
}
.progress-line.mysql span::after {
  content: "75%";
}

.skillSection img {
  padding-left: 10rem;
}

/*skill section */

/*contact me*/

.contact-area h2 {
  font-size: 1.75rem;
}

.contact-area span {
  display: block;
  padding-bottom: 2rem;
}

.contact-area {
  margin-top: 20rem;
}
.contact-area h1 {
  font-size: 2.7rem;
  text-align: center;
  padding-bottom: 5rem;
}

.contact-area .contactDetails {
  padding-top: 5rem;
}

.carousel-item {
  height: 600px;
  width: 1000px;
  object-fit: cover;
}
